{% extends 'seller/base1.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Delete Plant</h4>
    <p>Are you sure you want to delete "{{ product.product_name }}"?</p>
    <form method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Confirm Delete</button>
      <a href="{% url 'viewaddproduct' %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
</div>
</div>
{% endblock %}
