{% extends 'deliveryagent/base1.html' %}
{% load static %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="row">
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Profile</h4>
                {% if user.userprofile.profile_pic %}
                <img id="propic" src="{{user.userprofile.profile_pic.url }}" alt="profile pic" class=" rounded-circle" style="width: 340px; height: 340px;"/>
                {% else %}
                <!-- Display a default profile picture or a message if no profile picture is available -->
                <img id="propic" src="{% static 'images/usericon.png' %}" alt="profile pic" class=" rounded-circle" style="width: 340px; height: 340px;"/>
                {% endif %}
                <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                    <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">{{ user.userprofile.name }}</h6>
                    </div>
                </div>
                <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                    <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">{{ deliveryagent.license_number }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Personal Information</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="name" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" value="{{ user.userprofile.name }}" name="name">
                            <span id="owner_name_error" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="profile_pic">Profile Picture</label>
                        <div class="col-sm-9">
                            <input type="file"  class="form-control" id="profile_pic" name="profile_pic" accept="image/*">
                            <span id="profilepicerror" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="exampleInputEmail2" name="email" value="{{ user.email }}" readonly style="background-color:black;">
                            <span id="phone_number_error" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone_number" class="col-sm-3 col-form-label">Mobile</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ deliveryagent.contact }}">
                        </div>
                        <span id="phone_number_error" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label for="address" class="col-sm-3 col-form-label">Address</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="address" value="{{ deliveryagent.address }}" name="address">
                            <span id="address_error" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <p class="card-description"> Password Reset </p>
                    <div class="form-group row">
                        <label for="exampleInputPassword2" class="col-sm-3 col-form-label"> Old Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="exampleInputPassword2" name="old_password" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">New Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="exampleInputConfirmPassword2" name="reset_password" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputConfirmPassword3" class="col-sm-3 col-form-label">Re-enter Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="exampleInputConfirmPassword2" name="cpass" >
                        </div>
                    </div>
                    <span id="pspan" class="text-danger" ></span>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
  $(document).ready(function () {
      $("input[name='profile_pic']").change(function () {
          validateProfileImage("input[name='profile_pic']");
      });

      $("input[name='name']").keyup(function () {
          validateName("input[name='name']");
      });

      $("input[name='phone_number']").keyup(function () {
          validatePhoneNumber("input[name='phone_number']");
      });

      $("input[name='address']").on('input', function () {
          validateAddress("input[name='address']");
      });

      $("input[name='reset_password']").keyup(function () {
          validatePassword();
      });

      $("input[name='cpass']").keyup(function () {
          validateConfirmPassword();
      });
  });

  function validateProfileImage(fieldSelector) {
      var certificationImage = $(fieldSelector)[0].files[0];
      var certificationImageError = $("#profilepicerror");

      var validImageTypes = ["image/jpeg", "image/png"]; // Add more types if needed

      if (validImageTypes.indexOf(certificationImage.type) === -1) {
          certificationImageError.html("Invalid image format. Only JPEG and PNG allowed.").css("color", "red");
      } else {
          certificationImageError.html("").css("color", "red");
      }
  }

  function validateName(fieldSelector) {
      var ownerName = $(fieldSelector).val().trim();
      var lettersOnlyPattern = /^[A-Za-z][A-Za-z\s]*$/; // Updated regex to disallow space at the beginning

      if (!lettersOnlyPattern.test(ownerName)) {
          $("#owner_name_error").html("Name should start with a letter and contain only letters and spaces").css("color", "red");
      } else {
          $("#owner_name_error").html("");
      }
  }

  function validatePhoneNumber(fieldSelector) {
      var phoneNumber = $(fieldSelector).val().trim();
      var phoneNumberPattern = /^(\+91-|0)?[6-9]\d{9}$/; // Adjust the pattern based on your phone number requirements

      if (!phoneNumberPattern.test(phoneNumber)) {
          $("#phone_number_error").html("Phone Number should be at least 10 numbers and cannot contain alphabets").css("color", "red");
      } else {
          $("#phone_number_error").html(""); // Clear the error message
      }
  }

  function validateAddress(fieldSelector) {
      var address = $(fieldSelector).val().trim();
      var addressError = $("#address_error");

      // Check if the address length exceeds 150 characters
      if (address.length > 150) {
          addressError.html("Address must be up to 150 characters long").css("color", "red");
          return; // Exit the function if the address length is invalid
      }

      // Check if the address starts with a space or doesn't start with a letter or a number
      if (/^\s/.test(address) || !/^[A-Za-z0-9]/.test(address)) {
          addressError.html("Address should start with a letter or a number and not with a space").css("color", "red");
          return; // Exit the function if the address starts with an invalid character
      }

      addressError.html(""); // Clear the error message if all validations pass
  }

  function validatePassword() {
      var oldpassword = $("input[name='old_password']").val().trim();
      var password = $("input[name='reset_password']").val().trim();
      var pattern = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/;
      var valid = true;

      if (password === oldpassword) {
          $("#pspan").html("Cannot be the same as the old password").css("color", "red");
          valid = false;
      } else if (password.length < 8) {
          $("#pspan").html("At least 8 characters").css("color", "red");
          valid = false;
      } else if (!/[0-9]/.test(password)) {
          $("#pspan").html("At least 1 number").css("color", "red");
          valid = false;
      } else if (!/[!@#$%^&*]/.test(password)) {
          $("#pspan").html("At least 1 symbol (!@#$%^&*)").css("color", "red");
          valid = false;
      } else if (!/[A-Z]/.test(password)) {
          $("#pspan").html("At least 1 capital letter").css("color", "red");
          valid = false;
      } else if (!pattern.test(password)) {
          $("#pspan").html("Invalid password").css("color", "red");
          valid = false;
      }

      if (valid) {
          $("#pspan").html("").css("color", "red");
      }
  }

  function validateConfirmPassword() {
      var password = $("input[name='reset_password']").val();
      var confirmPassword = $("input[name='cpass']").val().trim();

      if (confirmPassword === "") {
          $("#pspan").html("Enter the password").css("color", "red");
      } else if (confirmPassword !== password) {
          $("#pspan").html("Passwords do not match").css("color", "red");
      } else {
          $("#pspan").html("");
      }
  }

  function validateForm() {
      // Check if there are any validation errors
      const errorElements = $(".text-danger");
      for (const errorElement of errorElements) {
          if ($(errorElement).html() !== "") {
              return false; // Prevent form submission if there are validation errors
          }
      }

      return true; // Submit the form if there are no validation errors
  }
</script>
{% endblock %}


